mixin form-change-multi(path)
    form(
        action=path
        method="POST"
        form-change-multi
    )
        .d-flex.align-items-start
            .form-group
                select(name="type" class="form-control")
                    option(value="active" selected=type==='active') Hoạt động
                    option(value="inactive" selected=type==='inactive') Dừng hoạt động
            .form-group
                input(
                    type="text"
                    name="ids"
                    value=ids
                    class="form-control"
            )
            button(type="submit" class="btn btn-primary") Áp dụng